<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="org.netxms.ui.eclipse.applauncher">
         <property
               name="appName"
               value="org.netxms.ui.eclipse.applauncher">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.netxms.ui.eclipse.applauncher/org.netxms.ui.eclipse.applauncher.LifeCycleManager">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/org.netxms.ui.eclipse.core/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
